@tailwind base;
@tailwind components;
@tailwind utilities;
.btn1 {
  @apply lg:flex  lg:justify-center   h-10 px-4 py-2   text-white;
}
.btn-primary1 {
  @apply bg-[#C5B069] hover:bg-dark-primary-color rounded-lg cursor-pointer;
}
.flexInfoBox {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 mt-6;
}
.infobBox {
  @apply bg-white  shadow-md  rounded-lg  p-4;
}
.patient-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  /* width: 360px; */
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  transition: box-shadow 0.2s ease;
}

.patient-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient-name {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.phone {
  color: #C5B069;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.card-subheader {
  color: #555;
  font-size: 14px;
}

.card-body p {
  margin: 4px 0;
  font-size: 14px;
  color: #444;
}

.card-body p span {
  font-weight: 600;
  color: #222;
}

.card-footer {
  /* margin-top: 10px; */
  font-size: 14px;
  color: #444;
  /* border-top: 1px solid #eee; */
  /* padding-top: 10px; */
  font-weight: 600;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary_color: #c5b069;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary_color: #c5b069;
  }
}

body {
  background-color: rgb(243 244 246 /1);
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
