@tailwind base;
@tailwind components;
@tailwind utilities;
.btn1 {
  @apply lg:flex  lg:justify-center   h-10 px-4 py-2   text-white;
}
.btn-primary1 {
  @apply bg-[#C5B069] hover:bg-dark-primary-color rounded-lg cursor-pointer;
}
.flexInfoBox {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 mt-6;
}
.infobBox {
  @apply bg-white  shadow-md  rounded-lg  p-4;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary_color: #c5b069;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary_color: #c5b069;
  }
}

body {
  background-color: rgb(243 244 246 /1);
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
